<div class="container">
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Domaine realise</th>
                    <th>Tache realisee</th>
                </tr>
                <tbody *ngFor="let produit of produits">
                    <tr>
                        <td>{{produit.idProduit}}</td>
                        <td>{{produit.nomProduit}}</td>
                        <td>{{produit.domaine_realise}}</td>
                        <td>{{produit.tache_realisee}}</td>
                        <td>
                            <a class="btn btn-danger" (click)="supprimerProduit(produit)">Supprimer</a>
                        </td>
                        <td>
                            <a class="btn btn-success" [routerLink]="['/modifier-produit',produit.idProduit]">Modifier</a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>