<div class="container">
    <div>
        <h2>Modifier un Produit :</h2>
    </div>
    <form>
        <div class="col-sm-2 col-md-2 col-lg-2"> <label>ID Produit</label> <input type="text" [(ngModel)]="currentProduit.idProduit" name="idProduit" class="form-control"> </div>
        <div class="col-sm-4 col-md-4 col-lg-4"> <label>Nom Produit</label> <input type="text" [(ngModel)]="currentProduit.nomProduit" name="nomProduit" class="form-control"> </div>
        <div class="col-sm-2 col-md-2 col-lg-2"> <label>Domaine realise</label> <input type="text" [(ngModel)]="currentProduit.domaine_realise" name="domaine_realise" class="form-control"> </div>
        <div class="col-sm-4 col-md-4 col-lg-4"> <label>Tache realisee</label> <input type="text" [ngModel]="currentProduit.tache_realisee" (ngModelChange)=" currentProduit.tache_realisee" name="tache_realisee" class="form-control">
        </div>
        <div class="mt-2"> <button type="submit" (click)="updateProduit()" class="btn btn-success">Modifer</button> </div>
    </form>
</div>
<div hidden class="col-sm-2 col-md-2 col-lg-2">
    <label>ID Produit</label>
    <input type="text" [(ngModel)]="currentProduit.idProduit" name="idProduit" class="form-control">
</div>
<div class="col-sm-2 col-md-2 col-lg-2">
    <label>ID Produit</label>
    <input readonly type="text" [(ngModel)]="currentProduit.idProduit" name="idProduit" class="form-control">
</div>